{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="text-start mb-5">
            <h2>답변 수정</h2>
        </div>
    </div>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div>
            <label for="content" class="col-form-label">답변 내용</label>
            <div>
                <textarea class="form-control" name="content" id="content" cols="30" rows="10">{{form.content.value|default_if_none:''}}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">저장</button>
    </form>
{% endblock %}