{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

    <!--container-->
    <div class="container">
        <!--message 표시-->
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                <strong>{{message.tags}}</strong>
                <ul>
                    <li>{{message.message}}</li>
                </ul>
                {% endfor %}
            </div>
        {% endif %}
        <!--message 표시 end-->
        <!--질문-->
        <h2 class="border-bottom py-2">{{question.subject}}</h2>
        <!--질문 끝-->
        <div class="card my-3">
            <!--pre line
            연속 공백을 하나로 합침. 한 줄이 너무 길어서 넘칠 경우 자동으로 줄을 바꿉니다. -->
            <div class="card-text">{{question.content|mark}}</div>
            <div class="d-flex justify-content-end">
                <!--수정일-->
                {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">수정일</div>
                    <div>{{question.modify_date}}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{question.author.username}}</div>
                    <div>{{question.create_date}}</div>
                </div>
            </div>
            <!--질문 수정-->
            <div class="my-3">
                <!--좋아요-->
                <a href="javascript:void(0)" data-uri="{% url 'pybo:question_vote' question.id %}" class="recommend btn btn-sm btn-outline-secondary">
                    좋아요
                    <span class="badge bg-success rounded-pill">{{question.voter.count}}</span>
                </a>
                <!--좋아요 end-->
                {% if question.author == request.user %} <!--글쓴이와 로그인한 사용자가 동일하면 -->
                <a href="{% url 'pybo:question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" data-uri="{% url 'pybo:question_delete' question.id %}" class="btn btn-sm btn-outline-secondary del_btn">삭제</a>
                {% endif %}
            </div>
        </div>
    <!--답변-->
        <h5 class="border-bottom py-2 my-3 card-title">{{question.answer_set.count}} 개의 답변이 있습니다.</h5>
        {% for answer in question.answer_set.all %}
        <div class="card my-3">
            <!--answer+answer_id-->
            <a href="" id="answer_{{answer.id}}"></a>
            <div class="card-body">
                <div class="card-text" style="white-space pre-line">{{answer.content}}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            {{answer.author.username}}
                        </div>
                        <div>
                            {{answer.create_date}}
                        </div>
                    </div>

                </div>
                <div class="my-3">
                    <!--좋아요-->
                    <a href="javascript:void(0)" data-uri="{% url 'pybo:answer_vote' answer.id %}" class="recommend btn btn-sm btn-outline-secondary">
                        좋아요
                        <span class="badge bg-success rounded-pill">{{answer.voter.count}}</span>
                    </a>
                    <!--좋아요 end-->
                    {% if request.user == answer.author %} <!--본인 글만 수정 삭제-->
                    <a href="{% url 'pybo:answer_modify' answer.id %}" class="btn btn-sm btn-outlone-secondary">수정</a>
                    <a href="javascript:void(0)" data-uri="{% url 'pybo:answer_delete' answer.id %}" class="btn btn-sm btn-outline-secondary del_btn">삭제</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    <!--답변 end-->
    <!--답변 등록-->
        <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3" name="answer_frm">
            {% csrf_token %}
            <!--form validation 기능-->
            {% include 'form_errors.html' %}
            <!--form validation 기능 end-->
            <div class="mb-3 row">
                <label for="content" class="col-form-label">내용</label>
                <textarea name="content" id="content" rows="10" cols="20" class="form-control"></textarea>
            </div>
            <!--<input type="button" value="답변 등록" class="btn btn-primary btn-sm" onclick="javascript:doSave()">-->
            <input type="submit" value="답변 등록" class="btn btn-primary btn-sm" id="submit_btn">
        </form>
    <!--답변 등록 end-->
    </div>
    <!--container end-->
{% block script %}
    <script>
         // 삭제
        const del_btn = document.querySelectorAll(".del_btn");
        console.log(del_btn);
        //const del_btn = document.getElementsByClassName("del_btn");
        Array.from(del_btn).forEach(function(element){
            // click event 감지
            element.addEventListener('click', function(){
                console.log("click");
                if(confirm('삭제 하시겠습니까?')){
                    console.log('삭제 하시겠습니까?');
                    location.href = this.dataset.uri;
                }
            });
        });


        function doSave(){
            <!--console.log("save");-->
            let frm = document.answer_frm;
            let content = frm.content.value;
            console.log("content"+content);
            if(!content){
                alert("내용을 입력하세요.");
                frm.content.focus();
                return;
            }

            // 서버로 전송
            frm.submit()
        }

        // question: 좋아요
        const like_btn = document.querySelectorAll(".recommend");
        console.log(like_btn);
        like_btn.forEach((element)=>{
            element.addEventListener("click",()=>{
                console.log("like click");
                if(confirm("좋아요를 누르시겠습니까?")){
                    location.href = element.dataset.uri;
                }
            })
        })

    </script>
{% endblock %}
{% endblock %}